.navigation {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1;
}
.navigation .ul-parent {
    height: calc(100vh - 160px);
    overflow-x: hidden;
}
.navigation ul,
.navigation ul li,
.navigation ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation ul {
    position: relative;
    z-index: 500;
    float: left;
}

.navigation ul li {
    float: left;
    min-height: 0.05em;
    line-height: 1em;
    vertical-align: middle;
    position: relative;
}

.navigation ul li.hover,
.navigation ul li:hover {
    position: relative;
    z-index: 510;
    cursor: default;
}

.navigation ul ul {
    visibility: visible;
    /*position: absolute;*/
   /* top: 100%;
    left: 0px;*/
    z-index: 520;
    width: 100%;
}

.navigation ul ul li { float: none; }

.navigation ul ul ul {
    top: 0;
    right: 0;
}

.navigation ul li:hover > ul { visibility: visible; }

.navigation ul ul {
    top: 0;
    /*left: 99%;*/
}

.navigation ul li { float: none; }

.navigation ul ul { margin-top: 0.05em; }

.navigation {
    width: 300px;
    background: #333333;
    font-family: 'roboto', Tahoma, Arial, sans-serif;
    zoom: 1;
}

.navigation:before {
    content: '';
    display: block;
}

.navigation:after {
    content: '';
    display: table;
    clear: both;
}

.navigation ul .li-a{
    display: block;
    padding: 0.6em 1.3em;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation > ul { width: 300px }

.navigation ul ul { width: 300px; }

.navigation > ul  > .li-a{
    color: #ffffff;
}

.navigation > ul > li > a:hover { color: #ffffff; }

.navigation > ul > li:hover, .navigation .child-li:hover { background: #2ecc71 !important; }
.navigation .child-li { background: #0093d9 !important; }
/*.navigation .child-acvite { background: #2ecc71 !important;}*/

.navigation li { position: relative; }

.navigation ul.ul-parent .li-parent > a:after {
    content: '+';
    position: absolute;
    right: 1em;
}

.navigation .child-li.first {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.navigation .child-li .last {
    -webkit-border-radius: 0 0 3px 0;
    -moz-border-radius: 0 0 3px 0;
    border-radius: 0 0 3px 0;
    border-bottom: 0;
}

.navigation ul ul {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.navigation ul ul {
    /*margin-top: -1px;*/
    margin-bottom: 10px;
    /*margin-left: 3px;*/
    /*border-right: 1px solid #0093d9 !important;*/
}

.navigation ul ul .li-span {
    margin-left: 5%;
}
.navigation ul ul .li-a{ color: #ffffff; }

.navigation ul ul .li-a:hover { color: #ffffff; }

.navigation ul ul li,.navigation ul ul .child-li { border-bottom: 1px solid #cbcdcf  !important; }

.navigation ul ul li:hover, .child-li:hover{
    background: #1f6dca !important;
    color: #ffffff !important;
}

.navigation.align-right > ul > .li-a{
    border-right: none;
}

.navigation.align-right { float: right; }

.navigation.align-right li { text-align: right; }

.navigation.align-right ul li.has-sub > a:before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -6px;
}

.navigation.align-right ul li.has-sub > a:after { content: none; }

.navigation.align-right ul ul {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 598;
    width: 100%;
}

.navigation.align-right ul ul li.first {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
}

.navigation.align-right ul ul li.last {
    -webkit-border-radius: 0 0 0 3px;
    -moz-border-radius: 0 0 0 3px;
    border-radius: 0 0 0 3px;
}

.navigation.align-right ul ul {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.navigation .title {
    padding-top: 10px;
    padding-left: 10px;

}
.navigation .title h2{
    display: flex;
    text-align: center;
    justify-content: center;
}
.navigation .title .action{
    height: 32px;
    padding-right: 10px;
    float:right;
}

.navigation .addCat {
    padding: 0;
    padding-left: 4px !important;
}
.navigation li, .navigation ul li ul li{
    border-bottom: 1px solid #cbcdcf;
}

.navigation ul {
    /*padding-top: 20px;*/
}

.navigation ul li .li-action{
    display: inline-flex;
}

.navigation ul li a {
    color: #fff;
}
.navigation .li-span{
    display:initial;
    width:275px;
    word-wrap:break-word;
}
.navigation ul li .fa-edit{
    color: #fff !important;
}
/*.navigation ul li.li-parent.active{*/
/*    background: #2ecc71;*/
/*}*/
.modal-body {
    overflow-y: visible !important;
}
