body{
    
    height: 100hv;
    width: 100wv;
}
.yellow{
    background-color: #FFFF99;
}
.dark-yellow{
    background-color: #FFFF00;
}
.text-center{
    text-align: center;
}
.red{
    color:red;
}
.underline{
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.text-bold{
    font-weight: bolder;
}
.bolder{
    border: 1px solid black;
}
.clear-fix td{
    border-bottom: 2px solid black;
}
.text-uppercase{
    text-transform: uppercase
}

